body{
    background-color: black;
}
div{
    background-color: whitesmoke;
    position: absolute;
    top: 150px;
    left: 115px;
    padding: 40px;
    width: 350px;
    height: 250px;
    border-radius: 10px;
   
}
ol li{
    padding: 25px;
    font-weight: bolder;
    font-size: medium;
    color: red;
}