* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header {
    width: 100%;
}
.menu {
    background-color: rgba(31, 30, 30, 0.20);
    text-align: center;
  
}
.menu ul li {
    display: inline-block;
    
   
}
.menu ul li a {
    display: block;
    color: red;
    padding: 30px 10px;
    /* cor  do texto do menu */
    
}
.main {
    padding: 50px 0;
}
.content {
    width: 70%;
    margin: auto;
    padding: 30px;
    background-color: rgba(31, 30, 30, 0.20);
    height: flex;
    color: #7B68EE;
    /* centro da pagina*/
}

.contentmenushwos {
  width: 50%;
  margin: auto;
  padding: 30px;
  background-color: rgba(31, 30, 30, 0.20);
  height: flex;
  color: #7B68EE;
  /* centro da pagina*/
}
.content h1 {
    margin-bottom: 30px;
}
.footer {
    background-color: rgba(31, 30, 30, 0.20);
    text-align: center;
    padding: 50px 0;
    color: red;
    /* cor do cabeçalho*/
}

div {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  img {
    width: 100%;
    position: static ;
  }
/* abaixo tem o bloco do shows */

  .container-galeria{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    grid-auto-rows: 450px;

  }
  .item-galeria{
    position: relative;

  }
  .item-galeria .img-galeria{
    width: 90%;
    height: 90%;
    object-fit: cover;


  }

  .item-galeria .title-galeria{
position: absolute;
background-color: rgba(0,0,0,0);
left 0;
bottom: 0;
width: 100%;
color: aliceblue;
padding:10px ;
font-size: 8px;

  }

  table, td, th {
    border : 2px solid black;
    border-collapse : collapse;
    }

    /* abaixo adição de grid*/

    .container-galeria{

      display:inline;
      grid-template-columns: repeat(,1fr);
      grid-auto-rows: 180px;
      padding:2px ;
      grid-gap:2p ;
  
  
  }
  
  .item-galeria{
  
      position: relative;
  
  }
  
  .item-galeria .img-galeria{
  
      width: 100%;
      height: 100%;
      object-fit: cover;
  
  }
  
  .item-galeria .title-galeria{
  
      position: absolute;
      background-color: rgba(0,0,0,0.5);
      left: 0;
      bottom: 0;
      width: 90%;
      color: whitesmoke;
      padding: 5px;
      font-size: 14pt;
      font-family: Arial, Helvetica, sans-serif;
  
  
  }
  
  .h-1{
  
      grid-row: span 1;
  
  
  }
  
  .h-2{
  
      grid-row: span 2;
      
  
  }
  
  .w-1{
  
      grid-column: span 1;
  }
  
  .w-2{
  
      grid-column: span 2;
  }
  
  @media(max-width:768px){
  
      .container-galeria{
  
          grid-template-columns: repeat(1,1fr);
          grid-auto-rows: 50vh;
  
  
      }
      .h-2{
  
        grid-row: span 1;
        
    
    }
    .w-2{
  
      grid-column: span 1;
  }
  
  }

  .logo{
width: 500px;


  }

  .body{ background-image: url('lol1.jpg'); }
  img { opacity : 0.75; }

  .logo{

    position:relative;
    width: 70%;
  }

  .rodapg{

    text-align: center;
}

h1{
  
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
   
    color: #7B68EE;
    text-align: center;
    font-size:x-large;}

    table {
        border-color: blueviolet;
        border-top: #7B68EE;
        border-spacing: 0;
        width: 60%;
        border: 5px solid black;
        text-align: left;
      
        }

 th , td {
        text-align: center;
        padding: 15px;
                    }                   
    body{

       background-color: black;
    }